.footer {
    background-color: var(--primary);
    padding: 25px 30px; 
    color: var(--white);
    font-size: 16px;
    line-height: 22px;
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 0 40px;
    align-items: center;
}

.footer a:hover {
    color: var(--gray-light)
}

@media (max-width: 768px) {
    .footer {
    grid-template-columns: 1fr;
justify-items: center;
gap:20px 0}
}